
<div class="bg-blue-500 border-b py-8 m-8 justify-center">
</div>

<div data-controller= "blueclick">
<div class="min-h-screen flex flex-col justify-center">   
    <div class="sm:mx-auto">
        <button data-action= "blueclick#new" class="py-4 px-8 bg-blue-500 rounded-xl text-white uppercase font-semibold shadow-lg">Click Me</button>
    </div>
</div> 
</div>